[submodule ".dotfiles/run/splatmoji"]
	path = .dotfiles/run/splatmoji
	url = https://github.com/cspeterson/splatmoji.git
[submodule ".dotfiles/run/teiler"]
	path = .dotfiles/run/teiler
	url = https://github.com/carnager/teiler.git
[submodule ".dotfiles/run/polybar"]
	path = .dotfiles/run/polybar
	url = https://github.com/jaagr/polybar.git
[submodule ".dotfiles/run/keepmenu"]
	path = .dotfiles/run/keepmenu
	url = https://github.com/firecat53/keepmenu.git
