[submodule ".dotfiles/run/splatmoji"]
	path = .dotfiles/run/splatmoji
	url = https://github.com/cspeterson/splatmoji.git
[submodule ".dotfiles/run/teiler"]
	path = .dotfiles/run/teiler
	url = https://github.com/carnager/teiler.git
[submodule ".dotfiles/run/polybar"]
	path = .dotfiles/run/polybar
	url = https://github.com/jaagr/polybar.git
[submodule ".dotfiles/run/keepmenu"]
	path = .dotfiles/run/keepmenu
	url = https://github.com/firecat53/keepmenu.git
[submodule ".dotfiles/run/polybar-spotify"]
	path = .dotfiles/run/polybar-spotify
	url = https://github.com/Jvanrhijn/polybar-spotify.git
[submodule ".dotfiles/run/zsh-syntax-highlighting"]
	path = .dotfiles/run/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".dotfiles/run/fzf"]
	path = .dotfiles/run/fzf
	url = https://github.com/junegunn/fzf.git
[submodule ".dotfiles/run/i3-alternating-layout"]
	path = .dotfiles/run/i3-alternating-layout
	url = https://github.com/olemartinorg/i3-alternating-layout.git
