# Source all secrets from encrypted secrets.env
# dotenv <(sops -d secrets.env) Would be the correct way to do this.
# Workaround until https://github.com/direnv/direnv/pull/1313 is merged:
watch_file secrets.env
export $(sops -d secrets.env | xargs)